<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pamyatkaplus</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous" defer></script>
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-2 header">
            <span class="span__title d-flex align-items-center mb-3 mb-md-0 me-md-auto ms-lg-3 text-dark">
                <span class="main__title">Pamyatka OGE</span>
                <p class="header__link__p ms-1">PLUS</p>
            </span>
            <ul class="nav nav-pills mt-lg-1 pb-lg-1 gap-2">
                <li class="nav-item"><a href="/pamyatkaplus/navigation?usermenu={{usermenu._id}}" class="nav-link" aria-current="page">Главная</a></li>
            </ul>
        </header>
        <main>
            {{#if usermenu}}
            <div class="menu__user alert alert-success">
                <div class="user">Приветствуем вас на сайте, {{usermenu.name}}</div>
                <div class="profile"><a class="text-primary text-decoration-none" href="/pamyatkaplus/profile?usermenu={{usermenu._id}}">Мой профиль</a></div>
            </div>
            {{/if}}
            <div class="container1">
                <div class="main__box__flex">
                        <div class="content2">
                            <h2 class="section-list-title mb-4">Список разделов</h2>
                            <div class="content2__item1">
                                <h4 class="title">Информация</h4>
                                <span class="content2__item1__span">
                            <label for="toggle" class="toggle__label">Как пользоваться сайтом</label>
                            <input type="checkbox" id="toggle">
                            <ul class="toggle__on"><br>
                            <li><b>Сайт состоит из 7 страниц:</b></li><br>
                            <li class="content2__ul__li">1. Главная - навигационная страница по сайту с панелью новостей разработки сайта.</li>
                            <li class="content2__ul__li">2. Обсуждения - Отзывы и оценки пользователей.(анонимные отзывы)</li>
                            <li class="content2__ul__li">3. Создание заданий - страница создания собственных заданий по макету.</li>
                            <li class="content2__ul__li">4. Задания пользователей - страница заданий от других пользователей и возможностью решения их.</li>
                            <li class="content2__ul__li">5. Профиль - страница профиля пользователя.</li><br>
                            <li><b>Дополнительная информация по ссылкам на главной странице:</b></li><br>
                            <li class="content2__ul__li">6. Кнопка техподдержки - письмо с вопросом разработку.</li>
                            <li class="content2__ul__li">7. Ссылка на связь с разработчиком - страница ВК.</li><br>
                            </ul>
                            </span>
                            </div>
                            <div class="content2__item2">
                                <h4 class="title">Обсуждения</h4>
                                <a href="/pamyatkaplus/feedback?usermenu={{usermenu._id}}"><button>Отзывы пользователей</button></a>
                            </div>
                            <div class="content2__item3">
                                <h4 class="title">Задания</h4>
                                <a href="/pamyatkaplus/tasks/my?usermenu={{usermenu._id}}"><button>Создание собственных заданий</button></a>
                                <a href="/pamyatkaplus/tasks?usermenu={{usermenu._id}}"><button>Решение заданий пользователей</button></a>
                            </div>
                            <div class="content2__item4">
                                <h4 class="title">Прочее</h4>
                                <a href="mailto:pamyatkaplus@gmail.com"><button>Техподдержка</button></a>
                            </div>
                        </div>
                        <div class="box">
                            <div class="content1">
                                <img src="/assets/mainimg.png" class="content1__image" alt="" width="530px">
                            </div>
                            <div class="blog-box">
                            <h3>Блог проекта</h3>
                            <div class="blog">
                                <div class="record__blog">
                                    <div class="calendar">
                                        <p>12 июня 2023 год</p>
                                        <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                        </svg>
                                    </div>
                                    <p style="text-indent: 25px; font-weight: bold!important"><b><i><u>САЙТ ДОСТУПЕН</u></i></b></p><p>Доступно решение задач, проверка. Фикс мелочей.</p>
                                </div>
                                <div class="record__blog">
                                    <div class="calendar">
                                        <p>11 июня 2023 год</p>
                                        <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                        </svg>
                                    </div>
                                    <p>Реализована страница<br> профиля пользователей.<br> Фикс недоработок.</p>
                                </div>
                                <div class="record__blog">
                                    <div class="calendar">
                                        <p>10 июня 2023 год</p>
                                        <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                        </svg>
                                    </div>
                                    <p>Фикс страниц и областей видимости страниц и элементов. Доработка анонимности отзывов.</p>
                                </div>
                                <div class="record__blog">
                                    <div class="calendar">
                                        <p>9 июня 2023 год</p>
                                        <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                        </svg>
                                    </div>
                                    <p>Полностью реализована регистрация<br> и вход на сайт, а<br> также приветствие<br> на главной страницы<br> после входа. Вход в <br>аккаунт теперь обязателен <br>для пользования сайтом.</p>
                                </div>
                                <div class="record__blog">
                                    <div class="calendar">
                                        <p>8 июня 2023 год</p>
                                        <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                        </svg>
                                    </div>
                                    <p>Настроена валидация создания<br> отзывов и дополнительная<br> настройка модерации.</p>
                                </div>
                                <div class="record__blog">
                                    <div class="calendar">
                                        <p>7 июня 2023 год</p>
                                        <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                        </svg>
                                    </div>
                                    <p>Реализована страница публикации<br> заданий, страница всех <br>заданий пользователей.<br> Настроена проверка заданий<br> администратором, их<br> редактирование и удаление.</p>
                                </div>
                                <div class="record__blog">
                                    <div class="calendar">
                                        <p>5 июня 2023 год</p>
                                        <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                        </svg>
                                    </div>
                                    <p>Обьединение статичной памятки <br>и памятки плюс в один сайт, <br>поддерживаемый на сервере без <br>утери функционала. Добавление <br>роута по ссылкам в адресную<br> строку. Фикс контента и мелких <br>недоработок.<br> Добавлена страницы <br>ошибки (переход по<br> несуществующему роуту).</p>
                                </div>
                                <div class="record__blog">
                                    <div class="calendar">
                                        <p>4 июня 2023 год</p>
                                        <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                        </svg>
                                    </div>
                                    <p>Сделана страница обсуждений,<br> заданий пользователей и <br>страница моих заданий.<br> Настройка адаптива.<br> (регистрация теперь<br> обязательна - без нее <br>функционал недоступен).<br>Фикс мелких недоработок.</p>
                                </div>
                                    <div class="record__blog">
                                        <div class="calendar">
                                            <p>1 июня 2023 год</p>
                                            <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                            </svg>
                                        </div>
                                        <p>Оформлена страница отзывов, редизайн сайта.<br>Настройка и доработка адаптива.</p>
                                    </div>
                                    <div class="record__blog">
                                    <div class="calendar">
                                        <p>31 мая 2023 год</p>
                                        <svg class="calendar__svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M14.2222222,1.77777778 L13.3333333,1.77777778 L13.3333333,3.55555556 L10.6666667,3.55555556 L10.6666667,1.77777778 L5.33333333,1.77777778 L5.33333333,3.55555556 L2.66666667,3.55555556 L2.66666667,1.77777778 L1.77777778,1.77777778 C0.799111111,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.799111111,16 1.77777778,16 L14.2222222,16 C15.2,16 16,15.2 16,14.2222222 L16,3.55555556 C16,2.57777778 15.2,1.77777778 14.2222222,1.77777778 Z M14.2222222,14.2222222 L1.77777778,14.2222222 L1.77777778,7.11111111 L14.2222222,7.11111111 L14.2222222,14.2222222 Z M4.88888889,0 L3.11111111,0 L3.11111111,3.11111111 L4.88888889,3.11111111 L4.88888889,0 Z M12.8888889,0 L11.1111111,0 L11.1111111,3.11111111 L12.8888889,3.11111111 L12.8888889,0 Z"></path>
                                        </svg>
                                    </div>
                                    <p>Сделана главная страница, а также страница входа и регистрации.<br>Настройка адаптива.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </main>
        <footer class="mt-5 footer pt-2">
            <ul class="nav justify-content-end pb-3 me-lg-3 gap-4">
                <li class="nav-item"><a href="https://vk.com/id523263123" class="nav-link">Связь с разработчиком</a></li>
                <li class="nav-item"><a href="/pamyatkaplus/navigation?usermenu={{usermenu._id}}" class="nav-link" aria-current="page">Главная</a></li>
            </ul>
            <span class="text-left text-white ps-3">© 2023 Company, Inc</span>
        </footer>
</body>
</html>